<div class="container">
  <h1>Answer</h1>
  <div>
    <%= @question %>
    <p>-You</p>
  </div>

  <div>
    <%= @answer %>
    <p>-Your coach</p>
  </div>

  <div>
    <%= link_to 'Ask a new questions', ask_path %>
  </div>
</div>